run = "npm install && npm start"
entrypoint = "server.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
build = ["sh", "-c", "npm install"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
